.section-title {
    text-align: center;
    font-family: 'Imbue Bold';
}

@media (max-width: 767px) {
    .section-title {
        margin: 0 1rem 0 1rem;
        margin-bottom: 2rem !important;
    }
}